# PHP
/vendor/
/composer.lock
.env
*.log

# Node.js / JavaScript / TypeScript
node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
pip-log.txt

# Java / Kotlin / Gradle
*.class
*.jar
*.war
*.ear
*.iml
.gradle/
build/
out/
*.log

# Go
bin/
*.exe
*.test
*.out
go.sum
go.mod

# Ruby / Bundler
*.gem
*.rbc
.bundle/
vendor/bundle/
log/
tmp/
*.log

# Rust / Cargo
target/
Cargo.lock

# C#
*.exe
*.dll
*.pdb
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
bin/
obj/

# SQL
*.sqlite3
*.db

# Vue.js
/dist/
*.local

# Configs et fichiers sensibles
.env
config.php

# OS spécifiques
.DS_Store
Thumbs.db

# Autres dossiers spécifiques
modules/stripe_official/vendor/

#Le .idea
/.idea/
