.rentFunnel-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    gap: 2em;
    padding: 0;
    list-style: none;
}

.rentFunnel-product-item {
    background: #fafafa;
    padding: 1.6em;
    text-align: center;
    box-shadow: 0 0 0.8em #17171a0d, 0 0.2em 0.8em #17171a14;
}

body {
    background: #faf9f8;
}

.coffee-select-button {
    left: 25%;
}