/*-------------------*/
/* Gestion du block de text Newsletter dans le footer */
/*-------------------*/

#block-newsletter-label {
    color: #000000 !important;
}

/*-------------------*/
/* Gestion de la barre d'email du footer pour la Newsletter*/
/*-------------------*/

#input-wrapper {

}

/*-------------------*/
/* Gestion du bouton 'S'abonner' du footer */
/*-------------------*/

#blockEmailSubscription_displayFooterBefore .btn.btn-primary[type="submit"] {
    background-color: #a81b1b !important;
}

/*-------------------*/
/* Gestion du bouton 'S'abonner' du footer au survol */
/*-------------------*/

#blockEmailSubscription_displayFooterBefore .btn.btn-primary[type="submit"]:hover {
    background-color: #c83939 !important;
}

/*-------------------*/
/* Gestion du footer */
/*-------------------*/

#footer {
    background-color: #f4d0b9;

}

.footer-container {
    height: 18em;
    padding: 1px;
}


/*-------------------*/
/* Gestion du bloc regroupant la phrase Newsletter, abonner, email */
/*-------------------*/

#blockEmailSubscription_displayFooterBefore .row {
    background-color: #dab197;
    padding: 10px;

}
