/*====================================*/
/* Fichier CSS pour le Header du site */
/*====================================*/

/*-------------------*/
/* Gestion du header de Contactez-nous au panier*/
/*-------------------*/

#header .header-nav .container{
    background-color: #f6f3e4;
    height: 50px; /* Ajuste la valeur selon ton besoin */

}

.row .col-md-5.col-xs-12 {
    border-radius: 5px;

}



/*-------------------*/
/* Gestion du header qui fait toute la longueur de l'écran */
/*-------------------*/

#header .header-nav {
    background-color: #f6f3e4;
}

/*-------------------*/
/* Gestion de menu dans le header */
/*-------------------*/

#header .header-top {
    background-color: #f4d0b9;
    height: 5em; /* Ajuste la valeur selon ton besoin */

}


/*-------------------*/
/* Gestion du sous-menu des propositions */
/*-------------------*/

.popover.sub-menu.js-sub-menu {
    background-color: #dab197;

}

/*-------------------*/
/* Gestion du bouton de connexion dans le header */
/*-------------------*/


#_desktop_user_info .user-info{
    border-radius: 5px;
    margin-bottom: 10px;
}

/*-------------------*/
/* Gestion du bouton du panier dans le header */
/*-------------------*/

#_desktop_cart .blockcart.cart-preview.inactive{
    background-color: #f6f3e4;

}

/*-------------------*/
/* Gestion du bouton 'Nous contacter' dans le header */
/*-------------------*/

#hidden-sm-down .col-md-5.col-xs-12 {

}

/*-------------------*/
/* Gestion de la barre de recherche */
/*-------------------*/

#search_widget .ui-autocomplete-input{

}

/*-------------------*/
/* Gestion du Logo */
/*-------------------*/
#row .col-md-2._desktop_logo {

}

/*-------------------*/
/* Gestion du menu de selection */
/* A vérifier  */
/*-------------------*/

#top_sub_menu_66036 .category-5{
}
#top-menu .category-6{

}
#top-menu .category-9{

}
#top-menu .category-4{

}
#top-menu .category-5{

}