/*-------------------*/
/* Gestion des conteneurs de prix et description des produits */
/*-------------------*/

.product-miniature .product-description {
    background-color: #d6cbb7;
}


/*-------------------*/
/* Gestion des étiquettes réduction et neuf */
/*-------------------*/

.product-miniature .product-flags li.product-flag.discount {
    background-color: #f39d72 !important;
}

.product-miniature .product-flags li.product-flag {
    background-color: #24b9d7 !important;
}

/*-------------------*/
/* Gestion du block d'aperçu des aricles */
/*-------------------*/

.product-miniature .highlighted-informations {
    background-color: #dcd2be;
}

.variant-links {
    background-color: #dcd2be !important;
}


/*-------------------*/
/* Gestion de fond du body */
/*-------------------*/

#wrapper {
    background-color: #F6F3E4 !important;
}

/*-------------------*/
/* Gestion du block Custom Text juste avant "En Promo" */
/*-------------------*/

#custom-text {
    background-color: rgba(250, 194, 161, 0.93);
}

#custom-text .h2 .p {
    color: #6C5740;
}
